# 날짜와 시각

## 표준시간대

전 세계 표준시간대에 관한 정보를 제공하는 패키지는 `pytz`이다.

In [1]:
import pytz as tz

각국의 표준시간대를 알아볼 때는 국가 코드를 이용한다.
국제 표준 국가코드는 `ISO 3166`이다.

[ISO 3166 국가코드](https://www.iso.org/obp/ui/#search/code/)

특정 국가의 표준 시간대는 `country_timezones()` 함수로 알 수 있다.

In [2]:
rok = tz.country_timezones('KR')
print(rok)

['Asia/Seoul']

In [3]:
us = tz.country_timezones('US')
print(us)

['America/New_York', 'America/Detroit', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Indiana/Indianapolis', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Vevay', 'America/Chicago', 'America/Indiana/Tell_City', 'America/Indiana/Knox', 'America/Menominee', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/North_Dakota/Beulah', 'America/Denver', 'America/Boise', 'America/Phoenix', 'America/Los_Angeles', 'America/Anchorage', 'America/Juneau', 'America/Sitka', 'America/Metlakatla', 'America/Yakutat', 'America/Nome', 'America/Adak', 'Pacific/Honolulu']

In [4]:
china = tz.country_timezones('CN')
print(china)

['Asia/Shanghai', 'Asia/Urumqi']

국가 코드로부터 영문 국가명을 구할 때는 `country_names` dict 객체를 이용한다.

In [5]:
print(tz.country_names['KR'])
print(tz.country_names['US'])
print(tz.country_names['JP'])
print(tz.country_names['CN'])

Korea (South)
United States
Japan
China

특정 표준시간대를 나타내는 객체는 표준시간대를 인자로 `timezone()` 함수를 실행하여 만든다.

In [6]:
seoul = tz.timezone('Asia/Seoul')
shanghai = tz.timezone('Asia/Shanghai')
tokyo = tz.timezone('Asia/Tokyo')

## 날짜, 시각, 일시 그리고 시간 

날짜(date)와 시각(time)을 결합한 것을 일시(datetime)이라 한다.
날짜, 시각, 일시 그리고 시간을 지원하는 라이브러리는 `datetime`이다.
이 라이브러리에는 날짜를 위한 `date`, 시각을 위한 `time`, 일시를 위한 `datetime`, 시간을 위한 `timedelta` 클래스가 정의되어 있다.

### 날짜, 시각 그리고 일시

In [7]:
import datetime as dt
dt1 = dt.datetime(2017, 1, 31, 13, 26, 20, 123456)
date1 = dt.date(2017, 1, 31)
time1 = dt.time(13, 26, 20, 123456)

이들 객체는 `year`, `month`, `day`, `hour`, `minute`, `second`, `microsecond`, `tzinfo` 속성을 가지고 있다.

In [8]:
print(dt1.year, dt1.month, dt1.day,
      dt1.hour, dt1.minute, dt1.second, dt1.microsecond,
      dt1.tzinfo)
print(date1.year, date1.month, date1.day)
print(time1.hour, time1.minute, time1.second, time1.microsecond, time1.tzinfo)

2017 1 31 13 26 20 123456 None
2017 1 31
13 26 20 123456 None

In [9]:
print(dt1)
print(date1)
print(time1)

2017-01-31 13:26:20.123456
2017-01-31
13:26:20.123456

일시와 시각 객체에 표준시간대 정보를 추가한 객체를 얻으려면 표준시간대 객체의 `localize()` 메소드를 이용한다.

In [10]:
seoul_dt1 = seoul.localize(dt1)
print(dt1)
print(seoul_dt1)

2017-01-31 13:26:20.123456
2017-01-31 13:26:20.123456+09:00

In [11]:
tokyo_dt1 = tokyo.localize(dt1)
print(dt1)
print(tokyo_dt1)

2017-01-31 13:26:20.123456
2017-01-31 13:26:20.123456+09:00

일시나 시각을 다른 표준시간대의 일시나 시각으로 변경할 때는 `datetime` 객체나 `time` 객체의 `astimezone()` 메소드를 실행한다.
이 메소드의 인자는 변경하고자 하는 표준시간대 객체이다.

In [12]:
shanghai_dt1 = seoul_dt1.astimezone(shanghai)
print(seoul_dt1)
print(shanghai_dt1)

2017-01-31 13:26:20.123456+09:00
2017-01-31 12:26:20.123456+08:00

`isoformat()` 메소드를 이용해서 iSO 표준 형식의 문자열로 출력할 수 있다.
`isoformat()` 메소드는 프로그램에서 처리한 날짜, 시각, 일시를 파일에 저장할 때 유용하다.

In [13]:
print(dt1.isoformat())
print(date1.isoformat())
print(time1.isoformat())

2017-01-31T13:26:20.123456
2017-01-31
13:26:20.123456

### 시간

일시와 일시의 차이 또는 시각과 시각의 차이를 시간이라고 하고 `timedelta` 클래스로 나타낸다.
시간을 일, 시, 분, 초, 마이크로초로 나타낸다.

`datetime` 클래스의 `today()` 메소드를 사용하면 현재의 일시 객체를 구할 수 있다.

In [14]:
today = dt.datetime.today()
print(today)
today = seoul.localize(today)
print(today)

2018-02-07 16:12:57.327165
2018-02-07 16:12:57.327165+09:00

In [15]:
td = today - seoul_dt1
print(type(td))
print(td)

<class 'datetime.timedelta'>
372 days, 2:46:37.203709

표준시간대가 다른 일시 객체 간의 차이도 계산할 수 있다.

In [16]:
print(today.tzinfo)
print(shanghai_dt1.tzinfo)
print(today - shanghai_dt1)

Asia/Seoul
Asia/Shanghai
372 days, 2:46:37.203709

시간 객체를 일시나 시각 객체에 더하거나 뺄 수 있다.
그 결과는 일시나 시각 객체가 된다.

In [17]:
tokyo_dt2 = tokyo_dt1 + td
tokyo_dt3 = tokyo_dt1 - td
print(tokyo_dt1)
print(tokyo_dt2)
print(tokyo_dt3)

2017-01-31 13:26:20.123456+09:00
2018-02-07 16:12:57.327165+09:00
2016-01-25 10:39:42.919747+09:00

## 연습문제

1. ISO 표준형식이 아닌 형식으로 일시를 표현한 문자열로부터 `datetime` 객체를 생성할 때는 `dateutil` 라이브러리에 정의된 `parser` 클래스의 `parse()` 메소드를 사용한다. 적절한 예제를 만들어 보시오.
2. `time` 모듈의 `gmtime()`, `localtime()`, `strftime()`, `time()` 함수와 `struct_time` **이름 있는 튜플**(구조체에 대응하는 **named tuple**)에 대해서 알아보시오.